* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    margin: auto;
    text-align: center;
    background: linear-gradient(135deg, pink, blue, red);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    min-height: 90vh;
}

header {
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 18px;
}

p {
    font-size: 1.4rem;
    color: white;
}

main {
    margin-top: 100px;
    margin: 100px auto;
}

input {
    height: 43px;
    width: 40%;
    border-radius: 40px;
    padding-left: 9px;
    border: none;
    font-size: 1rem;
}

img {
    height: 1.5rem;
    width: 1.5rem;
}

button {
    background: linear-gradient(135deg, rgb(3, 172, 238), rgb(3, 119, 243), white);
    border: none;
    padding: 6px;
    border-radius: 3px;
    transition: 0.8s ease transform;
    transform: translateY(2px);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, white, rgb(3, 172, 238), rgb(3, 119, 243));
    transform: translateY(2.7px);
}

#results-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 30px;
    padding: 50px;
    display: none;
    animation: fade .5s ease;
    color: black;
    min-width: 20%;
    width: 400px;
    border-radius: 15px;
}

#results-container img{
    width: 250px;
    height: 250px;
}

@keyframes fade {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid dodgerblue;
    border-radius: 50%;
    animation: spin .8s linear infinite;
    margin: 30px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}